<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Todo</title>-->
<!--    <style>-->
<!--        .header{-->
<!--            padding: 0px 0px;-->
<!--            margin: 0px;-->
<!--            color: black;-->
<!--            text-align: center;-->
<!--            height: 100vh;-->
<!--        }-->
<!--        h2{-->
<!--            font-size: 40px;-->
<!--        }-->
<!--        #contentText{-->
<!--            font-size: 18px;-->
<!--            font-family: 'Times New Roman', Times, serif;-->
<!--            margin-bottom: 20px;-->
<!--        }-->
<!--        .button{-->
<!--            color: white;-->
<!--            border-radius: 20px;-->

<!--        }-->
<!--        .id1{-->
<!--            width:74px;-->
<!--            height:34px;-->
<!--            background-color:#6b8eff ;-->
<!--            font-size:16px;-->
<!--        }-->
<!--        .id2{-->
<!--            width: 100px;-->
<!--            height: 20px;-->
<!--            font-size: 18px;-->
<!--            padding: 8px 10px;-->
<!--            margin: 65px;-->

<!--            background-color: #e91b45;-->
<!--            outline: none-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <div  class="header" >-->
<!--        <h2 style="background-color: #9da7c2;margin:0px 0px 20px; padding:  30px 40px; ">Add TodoList</h2>-->
<!--        <form th:action="@{/addTodoList}" th:object="${todolist}" method="POST">-->
<!--            <div style="margin-bottom:10px">-->
<!--                <input type="date" th:field="*{time}" >-->
<!--            </div>-->
<!--            <div>-->
<!--                <textarea  th:field="*{content}" style="margin-bottom:10px" type="text" name="content" id="contentText" cols="50" rows="10" placeholder="Plan what you want to do in here"></textarea>-->
<!--            </div>-->
<!--            <select name="level" id="level" style="margin-bottom:25px" th:field="*{level}">-->
<!--                <option value="important" style="background-color:  red">Important</option>-->
<!--                <option value="high" style="background-color: #6b8eff">High</option>-->
<!--                <option value="medium" style="background-color:  #e9f302">Medium</option>-->
<!--                <option value="low" style="background-color:#bdbdbd">Low</option>-->
<!--            </select>-->
<!--            <div >-->
<!--                <button class="button id1" type="submit">Create</button>-->
<!--                <a class="button id2" th:href="@{/home}">Cancel</a>-->
<!--            </div>-->
<!--        </form>-->

<!--    </div>-->
<!--    -->
<!--</body>-->
<!--</html>-->